<div class="chart" id="{{.Get "title"}}"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/js/functionPlot.js"></script>
<script type="text/javascript">
var actual_width = document.getElementById('{{.Get "title"}}').offsetWidth
var actual_height = actual_width * 2.0 / 3.0
plotFunction({
	div: "{{.Get "title"}}",
	title: "{{.Get "title"}}",
	xlab: "{{.Get "xlab"}}",
	ylab: "{{.Get "ylab"}}",

  height: actual_height,
  min: parseFloat({{.Get "min"}}),
  max: parseFloat({{.Get "max"}}),
  step: parseFloat({{.Get "step"}}),
  func: function(x) {
		return eval({{.Get "func"}});
	}
})
</script>
