<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

		{{ partial "head.html" . }}

		<body>
				<div class="container">
						{{ partial "header.html" . }}
						<div class="content">
								<h2>{{ .Title }}</h2>
								<ul>
										{{ $data := .Data }}
										{{ range $key, $value := .Data.Terms }}
										<li>
												<h3>
														<a href="/{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a>
														({{ len $value }})
												</h3>
										</li>
										{{ end }}
								</ul>
						</div>
						{{ partial "footer.html" . }}
				</div>
				<script src="{{ .Site.BaseURL }}/js/slim.js"></script>
				{{ with .Site.Params.AnalyticsID }}{{ partial "analytics.html" . }}{{ end }}
		</body>

</html>
