/* native HTML element*/

html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    padding-top: 70px; /*By default, navbar is height: 50px, margin-bottom: 20px*/
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, Serif;
    line-height: 1.7;
    letter-spacing: 0.01rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0 1.25rem;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, Serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.20rem;
}

h6 {
    font-size: 1.15rem;
}

img {
    max-width: 100%;
    margin: 1rem 0 0 1rem;
    border: 0;
    border-radius: 5px;
}

code {
    color: #E3000E;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 3px 3px 1px 3px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;
    border-radius: 3px;
}

pre code {
    font-size: 14px;
    border: none;
}

button, .btn {
    border: 1px solid #1ABC9C;
    border-radius: 5px;
    color: #1ABC9C;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

button:hover, .btn:hover {
    color: #fff;
    background: #1ABC9C;
}

/* Header */

.header {
    margin-top: 60px;
    margin-bottom: 60px;
    color: black !important;
}

.site-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}

/* Footer */

.footer {
    color: #95a5a6;
    font-size: 14px;
    text-align: center;
    margin: 5rem 0 1rem;
}

.footer a {
    color: #333;
}

/* Post */

.post-title a {
    color: black;
    line-height: 40px;
    font-size: 1.5rem;
    text-decoration: none;
}

.post-title a[class*="hvr-"]:before {
    background: black;
    height: 2px;
}

.post-meta {
    color: #ccc;
    font-size: 14px;
    margin-top: -10px;
}

.post-tags a {
    text-align: right;
    color: #ccc;
}

.post-tags a:hover {
    color: #000;
}

.post-content {
    text-align: justify;
    margin-top: 5rem;
}

/* Page Navigation */

.page-nav {
    margin-top: 4em;
}

.page-title {
    color: #ccc;
    font-size: 14px;
    margin-top: 1rem;
}

.btn:hover~.page-title {
    color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.previous {
    text-align: left;
}

.next {
    text-align: right;
}

/* Scroll-to-top button */

#top-link-block.affix {
    position: fixed;
    /* keeps it on the bottom once in view */
    bottom: 10%;
    right: 10%;
}

.well,
.well-sm,
.well:hover,
.well-sm:hover,
.well:focus,
.well-sm:focus {
    color: #1ABC9C;
    background: transparent;
    border: 1px solid #1ABC9C;
}

/* Navbar */

#app-navbar * {
    margin: 0;
}

.navbar-text, .navbar-brand {
    color: white !important;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, Serif;
    font-size: 16px;
}

.navbar-brand {
    font-size: 20px;
}

.navbar-default {
    background-color: #000;
}

/* All link on nav bar */
.navbar-default .navbar-nav>li>a {
    color: white !important;
}

.navbar-default .navbar-nav>li>a[class*="hvr-"]:before {
    background: white;
    height: 3px;
}

/* When collapse */
.navbar .navbar-collapse {
    text-align: center;
}

.icon-bar {
    background: black!important;
}

.collapsed .icon-bar {
    background: white !important;
}

button.navbar-toggle {
    background: white !important;
}

button.navbar-toggle.collapsed {
    background: black !important;
}

/* navbar toggled button horizontal divider */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(0, 0, 0, 0.2); 
}

/* Top loading progress bar */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: white;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

/* Katex Formule */

.katex-display>.katex {
    text-align: center;
}

span.katex {
    color: #000;
}

/* share button */

.share-btn {
    margin-top: 4em
}

/* Disqus thread */

#disqus_thread {
    margin-top: 4em
}

/* ----------- */
/* Media Query */
/* ----------- */

/* Large desktops and laptops */
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 17px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 17px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    body {
        padding-top: 0px;
        font-size: 16px;
    }

    .post-content {
        text-align: left;
    }

    .previous {
        text-align: right;
    }

    .next {
        text-align: left;
    }

     .pace {
        visibility: hidden;
    }
}

/* Device not PC (not wide enough) */
@media (max-width: 991px) {
    #top-link-block.affix {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }

    /* Make katex formula scrollable */
    .katex-display .katex-html {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    
    /* Make table scrollable */
    /* Note:
     * display: block on table element will make it not take 
     * the full width, instead, add a wrapper outside the table
     * (via jquery) and set display to block
     */
    .table-wrapper {
        width: 100%;
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
    }
}