/* native HTML element*/

html {
    box-sizing: border-box;
    font-size: 100%;
    overflow-y: scroll; /* Always show scroll bar */
}

body {
    padding-top: 70px; /*By default, navbar is height: 50px, margin-bottom: 20px*/
    margin: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, Serif;    
    line-height: 1.75;
    letter-spacing: 0.01rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-weight: 700;
    line-height: 1.25;
    margin: 2rem 0 1.25rem;
    
}

h1 {
    font-size: 2rem;
}

h2 {font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.20rem;
}

h6 {
    font-size: 1.15rem;
}

a {
    color: black;    
}

code {
    color: #E3000E;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 3px 3px 1px 3px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;
    border-radius: 3px;
}

pre code {
    font-size: 14px;
    border: none;
}

button, .btn, .pager li>a {
    border: 1px solid #1ABC9C;
    border-radius: 5px;
    color: #1ABC9C;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

button:hover, .btn:hover, .pager li>a:hover {
    color: #fff;
    background: #1ABC9C;
}

/**********/
/* Header */
/**********/

.header * {
    padding: 0;
    color: black !important;
}

.header {
    margin-top: 60px;
    margin-bottom: 60px;
}

.site-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}

/**********/
/* Footer */
/**********/

body, html {
    height: 100%;
}

.container {
    min-height: calc(100% - 160px);
}

.footer {
    background: white !important;
    color: #95a5a6;
    font-size: 14px;
    margin-top: 5rem;
    border: none;
    text-align: center;
}

.footer a {
    color: #333;
}

.footer p {
    margin-top: 20px;
}

/********/
/* Post */
/********/

.post-title {
    margin-bottom: 0px;
} 

.post-title a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 1.5;
    width: 100%;
}

.post-title a[class*="hvr-"]:before {
    background: black;
    height: 2px;
}

.post-content a {
    border-bottom: 1px dashed #000;
    text-decoration: none;
}

.post-content a:hover {
    color: #E3000E;
    border-bottom-color: #E3000E;
}

.post-meta *{
    color: #ccc;
    font-size: 14px;
}

.post .post-meta {
    margin-top: 10px;
}

a.post-tag:hover {
    color: #000;
}

.post-title:hover~.post-meta *{
    color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.tag-list {
    text-align: right; 
}

.post-content {
    text-align: justify;
    margin-top: 5rem;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, Serif;
}

/*********/
/* Pager */
/*********/

.pager {
    margin-top: 4em;
}

.pager-title {
    color: #ccc;
    font-size: 14px;
    margin-top: 1rem;
}

.pager a:hover~.pager-title {
    color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.previous {
    text-align: left;
}

.next {
    text-align: right;
}

/**************/
/* Pagination */
/**************/

.pagination-nav {
    margin-top: 50px;
}

.pagination li a {
    color: black;
    border-color: #ccc !important
}

.pagination .active a {
    color: white;
    background-color: black;
}

.pagination li a:hover,
.pagination .active a:hover {
    color: black;
    background-color: #ccc;
    border-color: #ccc;
}

/************************/
/* Scroll-to-top button */
/************************/

#top-link-block.affix {
    position: fixed;
    /* keeps it on the bottom once in view */
    bottom: 10%;
    right: 10%;
}

#top-link-block .well {
    color: #1ABC9C;
    background: transparent;
    border: 1px solid #1ABC9C;
}

/*****************/
/* Navbar on top */
/*****************/

/* Cancel all margins to make navbar menu as default size */
#navbar a,
#navbar ul {
    margin: 0px;
    color: white
}

#navbar .navbar-brand {
    color: white ;
}

#navbar a[class*="hvr-"]:before {
    background: white;
    height: 3px;
}

.navbar-default {
    background-color: #000;
}

/* When collapse */
.navbar .navbar-collapse {
    text-align: center;
}

#navbar .icon-bar {
    background-color: white;
}

#navbar .collapsed .icon-bar {
    background-color: black;
}

#navbar .navbar-toggle {
    background-color: black;
}

#navbar .navbar-toggle.collapsed {
    background-color: white;
}

.collapsing {
    transition: height 0.5s;
}

.navbar {
    transition: background-color 0.5s;
}

#navbar, 
#navbar .navbar-collapse { /* navbar toggled button horizontal divider */
    border-color: rgba(0, 0, 0, 0.2); 
}

/* Top loading progress bar */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: white;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

/* Katex Formule */

.katex-display>.katex {
    text-align: center;
}

span.katex {
    color: #000;
}

/* share button */

.share-btn {
    margin-top: 4em
}

/* Disqus thread */

#disqus_thread {
    margin-top: 4em
}

/* List View widget */

ul.term {
    padding: 0px;    
}

/*.term {
    padding-bottom: 25px;
}*/

.badge {
    color: white;
    background: black;
    margin-left: 5px;
}       

.label {
    color: white;
    background: black;
}

/* Stablize term length */
.term .label i {
    width: 9px;
}

a.label {
    font-size: 15px;
}

.title-list {
    margin: 5px 0px;
}

.title-list * {
    color: black;
}

.title-list a {
    padding: 0px;
    font-size: 16px;
}

.title-list.well {
    background: white;
    border-color: black;
}

/* ----------- */
/* Media Query */
/* ----------- */

/* Large desktops and laptops */
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 17px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 17px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    body {
        font-size: 16px;
    }

    .tag-list {
        text-align: left; 
    }

    /*
    Hide nav-bar when navbar collapse 
    Note: navbar collapse break point is here 
    */
    #navbar.nav-bar-hidden {
        background: transparent;
        border-color: transparent;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
    
    .post-content {
        text-align: left;
    }

    .title-list {
        padding-left: 10px;
        padding-right: 0px;
    }

    /*.previous {
        text-align: right;
    }

    .pager .previous a {
        float: right;
    }

    .next {
        text-align: left;
    }

    .pager .next a {
        float: left;
    }*/

    .pace {
        visibility: hidden;
    }

   
}

/* Device not PC (not wide enough) */
@media (max-width: 991px) {
    #top-link-block.affix {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }

    /* Make katex formula scrollable */
    .katex-display .katex-html {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    
    /* Make table scrollable */
    /* Note:
     * display: block on table element will make it not take 
     * the full width, instead, add a wrapper outside the table
     * (via jquery) and set display to block
     */
    .table-wrapper {
        width: 100%;
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
    }
}