<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ partial "header.html" . }}
                <div class="content">
                    <h4>
                        <span class="label label-default">{{ lower .Title }}</span>
                    <h4> 
                    <ul>
                        {{ range .Data.Pages }}
                        <li>
                            <h6 class='title-item'>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </h6>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
<!--Create a list of content for a given taxonomy term, e.g. "/categories/development/", "/tags/bayes/"-->