<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ partial "header.html" . }}
                <div class="content">
                    <h4>
                        <span class="label label-default">{{ lower .Title }}</span>
                    </h4>
                    <div class="well title-list">
                        {{ range .Data.Pages.ByDate.Reverse }}
                        <div class="title-item row">
                            <span class="col-sm-3 post-meta hidden-xs">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="">{{ .Date.Format "Jan 2, 2006" }}</span>
                            </span>
                            <a class='col-xs-12 col-sm-9' href="{{ .Permalink }}">
                                <i class="fa fa-caret-right" aria-hidden="true"></i> {{ .Title }}
                            </a>
                        </div>
                        {{ end }}
                    </div> 
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
<!--Create a list of content for a given taxonomy term, e.g. "/categories/development/", "/tags/bayes/"-->