<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ partial "header.html" . }}
                <div class="content">
                    <h2>{{ .Title }}</h2>
                    <div>
                        {{ $data := .Data }} 
                        {{ range $key, $value := .Data.Terms.ByCount }}
                            <div class="term">
                                <a class="label label-default" data-toggle="collapse" data-target="#{{ $value.Name }}"
                                    aria-expanded="false" aria-controls="{{ $value.Name }}">
                                    {{ lower $value.Name }} <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </a>
                                <span class="badge" data-toggle="tooltip" data-placement="right" title="Click tag on the left to show more">
                                    {{ $value.Count }}
                                </span>
                                <div class="collapse" id="{{ $value.Name }}">
                                    <div class="well title-list">
                                        {{ range $value.Pages.ByDate.Reverse }}
                                        <div class="title-item row">
                                            <span class="col-sm-3 post-meta hidden-xs">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                <span class="">{{ .Date.Format "Jan 2, 2006" }}</span>
                                            </span>
                                            <i class="col-xs-1 col-sm-1 fa fa-caret-right title-item-caret" aria-hidden="true"></i>
                                            <a class='col-xs-10 col-sm-8' href="{{ .Permalink }}">{{ .Title }}</a>
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
<!--Create a list of term for a given taxonomy, e.g. "/categories", "/tags"-->