<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ partial "header.html" . }}
                <div class="content">
                    <div class="post">
                        <h2 class="post-title">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h2> 
                        {{ partial "post-meta.html" .}}
                        <div class="post-content">
                            {{ .Content }}
                        </div>
                    </div>
                </div>

                <nav aria-label="...">
                    <ul class="row pager">
                        {{ if .PrevInSection }}
                        <li class="col-xs-6 previous">
                            <a class="btn" href="{{ .PrevInSection.Permalink }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Older</a>
                            <br/>
                            <p class="pager-title">{{ .PrevInSection.Title }}</p>    
                        </li>
                        {{ end }}
                        {{ if .NextInSection }}
                        <li class="col-xs-6 next">
                            <a class="btn" href="{{ .NextInSection.Permalink }}">Newer <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            <br/>
                            <p class="pager-title">{{ .NextInSection.Title }}</p>
                        </li>
                        {{ end }}
                    </ul>
                </nav>

                {{ partial "social-share.html" . }} {{ partial "disqus.html" . }}
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
<!--this layout will be used for post content page-->