<div id="{{.Get "title"}}"></div>

<script>

function getHeight(heightWeightRatio) {
    return document.getElementById('{{.Get "title"}}').offsetWidth * heightWeightRatio;
}
var func = function(x) { return eval({{ .Get "func" }}) }
var min = parseFloat({{ .Get "min" }})
var max = parseFloat({{ .Get "max" }})
var step = parseFloat({{ .Get "step" }})

var dataPoints = []
for (var i = min; i <= max; i = i + step) {
	dataPoints.push([i, func(i)])
}

var textStyle = {
    "color": "black",
    "font-family": "Droid Serif"
}

Highcharts.chart('{{.Get "title"}}', {
    responsive: {
        rules: [{
            condition: {
                maxWidth: 480 // Only for mobile view
        },
        chartOptions: {
            chart: {
                height: 250
            },
            legend: {
                enabled: false
            },
            xAxis: {
                title: null
            },
            yAxis: {
                title: null,
                labels: {
                    align: 'left',
                    x: 0,
                    y: -2
                }
            }
        }}]
    },

    credits: {
        enabled: false
    },
    chart: {
        height: 350
    },
    title: {
        text: '{{.Get "title"}}',
        style: textStyle
    },
    xAxis: {
        title: {
            text: '{{.Get "xTitle"}}',
            style: textStyle
        },
        plotLines: [{
            color: 'black', // Color value
            dashStyle: 'longdashdot', // Style of the plot line. Default to solid
            value: 0, // Value of where the line will appear
            width: 1 // Width of the line
        }]
    },
    yAxis: {
        title: {
            text: '{{.Get "yTitle"}}',
            style: textStyle
        },
        endOnTick: false
    },
    series: [{
        marker: {
            enabled: false
        },
        showInLegend: false,
        enableMouseTracking: false,
        data: dataPoints,
        color: '#FF4081'
    }]
});

</script>
