<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ partial "header.html" . }}
                <div class="content">
                    <h2>Archive</h2>
                    {{ range .Data.Pages.GroupByDate "2006" }}
                        <div class="term">
                            <a class="label label-default" data-toggle="collapse" data-target="#{{ .Key }}" 
                                aria-expanded="false" aria-controls="{{ .Key }}">{{ .Key }} <span class="caret"></span></a>
                            <span class="badge" data-toggle="tooltip" data-placement="right" 
                                title="Click tag on the left to show more">{{ len .Pages }}</span>
                            <div class="collapse" id="{{ .Key }}">
                                <ul class="list-group title-list">
                                    {{ range .Pages.ByDate }}
                                    <li class="list-group-item title-item row">
                                        <span class="col-sm-3 post-meta hidden-xs">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <span class="">{{ .Date.Format "Jan 2, 2006" }}</span>
                                        </span>
                                        <div>
                                            <a class='col-xs-12 col-sm-9' href="{{ .Permalink }}">{{ .Title }}</a>
                                        </div>
                                    </li>
                                    {{ end }}
                                </ul>
                                
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
<!--This will list all the elements of post section-->