<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ partial "header.html" . }}
                <div class="content">
                    {{ range .Data.Pages.GroupByDate "2006-01" }}
                        <div class="term">
                            <h4 class="date-label">
                                <span class="label label-default">{{ .Key }}</span>
                            </h4>
                            <ul>
                            {{ range .Pages }}
                            <li>
                                <a class='title-item' href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                            <ul>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
<!--This will list all the elements of post section-->